@page
@model MegaDeskWebWeek8.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeskQuote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.Depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.Depth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.NumDrawers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.NumDrawers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.SurfaceMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.SurfaceMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.rushDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.rushDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.orderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.orderDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeskQuote.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
